#info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/images/Background_Intro.png);
    background-size: cover;

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 680px;
    
        h3 {
            margin-block: 56px 8px;
        }
<<<<<<< HEAD

        h1 {
            color: var(--gray-600);
        }
=======
>>>>>>> 6b3e186e01a0c86927d6930c24d346cf41ce7384
    
        p {
            color: var(--gray-400);
            margin-block: 20px 80px;
        }
    
        span {
            color: var(--red)
        };
    }

    #tech {
        display: flex;
        align-items: center;
        background-color: var(--gray-300);
        padding: 8px 16px;
        border-radius: 999px;
<<<<<<< HEAD
        gap: 8px;
=======
>>>>>>> 6b3e186e01a0c86927d6930c24d346cf41ce7384
    }

    #downscroll {
        margin-block: 94px 57px;
        span {
            background-image: url(../assets/icons/down-arrow.svg);
            width: 32px;
            aspect-ratio: 1/1;
        }

        span:hover {
            cursor: pointer;
        }
    }
<<<<<<< HEAD
=======
    
    
>>>>>>> 6b3e186e01a0c86927d6930c24d346cf41ce7384
}


