/* Projects part */
#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 72px 144px;

    /* Header */
    header {
        display: flex;
        flex-direction: column;
        align-items: center;

        /* Titles */
        h3 {
            color: var(--red);
        }

        h2 {
            margin-block: 8px 56px;
            color: var(--gray-600);
        }
    }

    /* Projects grid */
    #projects-grid {
        gap: 24px;

        /* Cards */
        figure {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 12px;
            max-width: 330px;

            background-color: var(--gray-300);
            border-radius: 12px;

            /* card image */
            img {
                max-width: 306px;
                border-radius: 12px;
                object-fit: cover;
            }

            /* Texts card */
            div {
                max-width: 298px;
                margin-bottom: 4px;
                h4 {
                    padding-block: 20px 8px;
                    color: var(--gray-600);
                }
            }
        }
    }
}

