/* Titles  */
.title-lg {
    font: var(--title-lg);
}

.title-md {
    font: var(--title-md);
}

.title-sm {
    font: var(--title-sm);
}

/* Sibtitle */
.subtitle{
    font: var(--subtitle);
}

/* Texts */
.text-sm {
    font: var(--text-sm);
}

/* Container control */
.container {
    padding-inline: 120px;
}

.grid {
    display: grid;
}

.grid-flow-col {
    grid-auto-flow: column;
}

.grid-col-3 {
    grid-template-columns: repeat(3, 1fr);
}

/* Spaces */
.gap-16 {
    gap: 16px;
}

.gap-32 {
    gap: 32px;
}