.title-lg {
    font: var(--title-lg);
}

.subtitle{
    font: var(--subtitle);
}

.text-sm {
    font: var(--text-sm);
}

.container {
    padding: 120px;
}

.grid {
    display: grid;
}

.grid-flow-col {
    grid-auto-flow: column;
}

.gap-16 {
    gap: 16px;
}

.gap-32 {
    gap: 32px;
}